.fade {
    margin-top: 71px;
}

.modal-dialog {

    width: 325px;
    margin-right: 7% !important;
    margin-top: 5% !important;

    .modal-content {
        border-radius: 0;
        width: 325px;
        // max-height: 628px;

    }

    .cartHeading {
        h4 {
            font-weight: 700;
        }

        p {
            font-weight: 500;
        }


    }

    .cartItemsContainer {

        z-index: 1000;


        .cartItem {
            margin-bottom: 40px;


            .cartItemContent {

                color: #1D1F22;

                .itemName {
                    font-size: 18px;
                    font-weight: 300;
                    margin-bottom: 5px;

                }

                .itemPrice {

                    font-weight: 400;

                }


            }

            .itemImage {

                width: 115px !important;
                height: 167px;

                img {



                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

            }

            .cartItemquantity {
                width: 24px;
                height: 167px;

                button {
                    width: 100%;
                    height: 24px;
                    border: 1px solid #1D1F22;
                    background-color: #fff;
                    color: #1D1F22;
                    text-align: center;
                    cursor: pointer;



                }


            }


            .productAttr {

                .productColors {
                    p {
                        font-weight: 400;
                        font-size: 14px;
                    }

                    .containerBlock {
                        width: 17px !important;
                        height: 17px !important;
                    }

                    input {
                        width: 17px !important;
                        height: 17px !important;
                    }


                }

                .productSizes {


                    p {

                        font-weight: 400;
                        font-size: 14px;

                    }

                    .priceNumber {

                        font-size: 14px;

                    }

                    .containerBlock {

                        margin-right: 8px;

                        font-size: 14px;
                        font-weight: 400;
                        text-align: center;
                        width: 24px;
                        height: 24px;




                        input {
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;


                        }

                        .checkmark {

                            width: 24px !important;
                            height: 24px !important;
                            text-align: center;
                            font-size: 11px;
                            font-weight: 400;

                        }

                        input:checked+.checkmark {
                            background-color: #000;
                            color: white;
                        }


                    }
                }
            }

        }


    }

    .totalPrice {

        p {


            font-weight: 700 !important;
        }

    }

    .placeOrder {

        button {}

    }
}



.cartCount {
    background-color: #000;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    width: 25px;
    height: 25px;
    left: 60%;
    top: 0;
    color: #fff;

}

@media (max-width:576px) {
    .modal {
        .modal-dialog {

            width: 400px;
        }
    }

}