header {
    z-index: 1000;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;

    ul {
        width: 12rem;

        .nav-item {
            font-weight: 600;
            padding-bottom: 1rem;
            text-align: center;
            line-height: 19px;
            text-transform: capitalize;
            z-index: 1;

            a {
                z-index: 2;

            }
        }
    }

    .shoppingCart {
        button {
            img {
                width: 2rem;
            }
        }
    }

    .nav-item.active {
        a {
            color: #5ECE7B !important;
        }

        border-bottom: 2px solid #5ECE7B;
    }
}