header {
    z-index: 1000;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;

    .nav-item {
        font-weight: 600;
        padding-bottom: 1rem;
        margin-right: 1rem;
        line-height: 19px;
        text-transform: capitalize;

    }

    .shoppingCart {
        button {
            img {
                width: 2rem;
            }
        }
    }

    .nav-item.active {
        a {
            color: #5ECE7B !important;
        }

        border-bottom: 2px solid #5ECE7B;
    }
}