.productDetailsContent {

    width: 300px;



    .productDetailsContent {

        h3 {

            font-weight: 600;
            font-size: 30px;
            margin-bottom: 32px;

        }

    }




    .productDet {
        white-space: pre-wrap;

        ul {

            list-style: circle;

            li {

                list-style: circle;
            }
        }

        p {
            font-size: 16px;
            font-weight: 400;

        }

    }
}

.colorItem {



    border: 1px solid #5ECE7B;
}

.productColors {
    p {
        margin-bottom: 0 !important;
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
    }

    .containerBlock {

        width: 32px;
        height: 32px;
        padding: .3rem;


        display: inline-block;
        position: relative;
        margin-right: 12px;
        cursor: pointer;


        transition: all 0.3s ease;

        .checkmark {
            position: relative;
            width: 100%;
            height: 100%;
            background-color: red !important;

        }

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            width: 100%;
        }

        input:checked+.checkmark {

            border: 1px solid #5ECE7B !important;
        }

    }
}

.productSizes {


    p {
        margin-bottom: 0 !important;
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
    }

    .priceNumber {

        font-size: 24px;

    }

    .containerBlock {
        display: inline-block;
        position: relative;
        margin-right: 12px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        width: 63px;
        height: 45px;
        border: 1px solid #000;
        text-transform: uppercase;
        transition: all 0.3s ease;



        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            width: 100%;

        }

        .checkmark {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 63px;
            height: 45px;
            font-weight: bold;
            font-size: 16px;
            font-weight: 400;

        }

        input:checked+.checkmark {
            background-color: #000;
            color: white;
        }


    }


}

.cartBtn {
    width: 100%;
    background-color: #5ECE7B;
    color: #fff;
    padding: 16px 90px;
    border: 1px solid #5ECE7B;
    font-weight: 600;
    text-align: center;

    &:disabled {

        background-color: #8D8F9A;
        border: 1px solid #8D8F9A;

    }

}